body {
  margin: 0;
  padding: 0;
  background-color: #070707eb;
  position: relative;
}

.angled-pattern {
  width: 100%;
  height: 125px;
  background: repeating-linear-gradient(
    45deg,
    gray,
    rgb(135, 16, 16) 10px,
    orange 10px,
    orange 20px
  );
  position: relative;
  z-index: 1;
}

.image-container {
  position: absolute;
  top: -25px;
  left: 0;
  width: 20%;
  height: 300px;
  z-index: 2;
}

img {
  height: 90%;
  object-fit: cover;
}

.title{
  text-align: right;
  font-size: 25px;
}

.food-container {
    border: 2px solid rgb(189, 126, 17);
    border-radius: 15px;
    margin-left:10px;
    padding: 20px;
    flex-basis: 45%;
    min-width: 250px;
    box-sizing: border-box;
}

h1 {
  color: var(--default-color);
  font-size: 50px;
  color: rgb(181, 90, 9);
  font-family: "Times New Roman", Times, serif;
  margin-right: 0;
}

.menu {
  color: var(--default-color);
  font-size: 30px;
  color: rgb(183, 125, 16);
  font-family: "Times New Roman", Times, serif;
  margin-right: 0;
  margin-top: 50px;
  /*border-bottom: 10px white; */
  padding-bottom: 5px;
  box-shadow: 0px 5px 2px -2px gray;
}

p {
    color:rgb(255, 255, 255);
}
.menu-type-title{
    color:rgb(179, 10, 10);
    font-size: 30px;
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.food-item{
    margin-bottom: 10px;
    align-items:center;
    flex-grow:0;
    white-space: nowrap;
}

.food-title{
    display: flex;
    color:rgb(40, 4, 4);
    font-weight: bold;
    font-size: 20px;
}

.dots{
    flex-grow:1;
    border-bottom: 2px dotted white;
    
}
/*.food-title::after{
    content:"..........................................";
    flex-grow:1;
    overflow: hidden;
    color:gray;
    font-size: large;
    white-space: nowrap; 
} **/

.food-price{
    font-size: 20px;
    color:white;
}

.food-item-description{
    color:rgb(43, 4, 4);
    font-size: 15px;
}
